Graphviz figures:
  image: alpine
  script:
    - apk add make graphviz
    - make build-graphviz

  artifacts:
    paths:
      - 'Figures/**/*.pdf'

PlantUML figures:
  image:
    name: think/plantuml
    entrypoint:
      - ''
  script:
    - apk add make
    - make build-plantuml

  artifacts:
    paths:
      - 'Figures/**/*.pdf'

Draw.io figures:
  image:
    name: rlespinasse/drawio-export
    entrypoint:
      - ''
  variables:
    DRAWIO_EXPORT_FILEEXT: 'svg'
    DRAWIO_EXPORT_FOLDER: '.'
  script:
    - /drawio/entrypoint.sh
  artifacts:
    paths:
      - 'Figures/**/*.svg'

SVG figures:
  image: alpine:3.12
  needs:
    - Draw.io figures
  script:
    - apk update
    - apk add make inkscape
    - make build-svg
  artifacts:
    paths:
      - 'Figures/**/*.pdf'

PDF:
  image: blang/latex:ctanfull
  needs:
    - PlantUML figures
    - Graphviz figures
    - Draw.io figures
    - SVG figures
  script:
    - latexmk -pdf

  artifacts:
    paths:
      - '*.pdf'
