stages:
  - graphs
  - pdf

Build Graphviz figures:
  stage: graphs
  image: graphviz/graphviz:ubuntu-20.04
  script:
    - make build-graphviz

  artifacts:
    paths:
      - 'Figures/**/*.pdf'

Build PlantUML figures:
  stage: graphs
  image:
    name: think/plantuml
    entrypoint:
      - ''
  script:
    - apk add make
    - make build-plantuml

  artifacts:
    paths:
      - 'Figures/**/*.pdf'

Build PDF:
  stage: pdf
  image: blang/latex:ctanfull
  script:
    - make

  artifacts:
    paths:
      - '*.pdf'
