stages:
  - draw.io graphs
  - graphs
  - pdf

Graphviz figures:
  stage: graphs
  image: alpine
  needs:
  script:
    - apk add make graphviz
    - make build-graphviz

  artifacts:
    paths:
      - 'Figures/**/*.pdf'

PlantUML figures:
  stage: graphs
  image:
    name: think/plantuml
    entrypoint:
      - ''
  needs:
  script:
    - apk add make
    - make build-plantuml

  artifacts:
    paths:
      - 'Figures/**/*.pdf'

Draw.io figures:
  stage: draw.io graphs
  image:
    name: rlespinasse/drawio-export
    entrypoint:
      - ''
  variables:
    DRAWIO_EXPORT_FILEEXT: 'svg'
    DRAWIO_EXPORT_FOLDER: 'export'
  script:
    - /drawio/entrypoint.sh
    - |
      for EXPORT_DIR in $(find -name 'export' -type d); do
        for FILE in $(ls "${EXPORT_DIR}"/*); do
          FILENAME=$(basename "${FILE}")
          FILENAME=$(echo "${FILENAME}" | sed -E 's/-Page-1\.(.*)$/.\1/')
          ORIGINAL_DIR=$(dirname "$(dirname "${FILE}")")
          mv -v "${FILE}" "${ORIGINAL_DIR}/${FILENAME}"
        done
      done
  artifacts:
    paths:
      - 'Figures/**/*.svg'

SVG figures:
  stage: graphs
  image: alpine:3.12
  needs:
    - Draw.io figures
  script:
    - apk update
    - apk add make inkscape
    - make build-svg
  artifacts:
    paths:
      - 'Figures/**/*.pdf'

PDF:
  stage: pdf
  image: blang/latex:ctanfull
  needs:
    - PlantUML figures
    - Graphviz figures
    - Draw.io figures
    - SVG figures
  script:
    - latexmk -pdf

  artifacts:
    paths:
      - '*.pdf'
